.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(255, 187, 0, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

.tooltip .tooltip-content {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    max-width: 200px;
}

#linechart_tooltip {
    background-color: rgb(31, 22, 100);
    color: white !important;
    border: 1px solid black;
    opacity: 0;
}

.tooltip p {
    margin: 0;
}

.tooltip strong {
    font-weight: bold;
}

body {
    background-color: #d0f2ff !important;
}

#year-checkbox-form {
    padding: 0px 0px 0px 5px;
}

.btn-primary {
    background-color: #2a3478 !important;
}

.section {
    border: 2px solid blue;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    /* margin-bottom: 50px; */
}

.para {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 20px;
    width: 98%;
}

:host ::ng-deep .dropdown-menu {
    --bs-dropdown-min-width: 6rem !important
}