.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

body {
    background-color: #00e7ff29 !important
}

.para {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 119px;
    width: 84%;
}

.section {
    border: 2px solid blue;
    text-align: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 50px;
}